<footer>

    <div class="footer-line" *ngIf="isLoggedIn">
        Une suggestion ? Un bug ?
        <a routerLink="/suggestion">Dites-nous tout !</a>
    </div>
    <div class="footer-content">
        <div class="footer-links">
            <a routerLink="/help" class="footer-link">❓ Guide des Fonctionnalités</a>
            <span class="separator">•</span>
            <a routerLink="/credits" class="footer-link">✨ Crédits & Remerciements</a>
        </div>
        <p class="copyright">© 2026 Poked'EC {{ currentEnv }} ({{ version }}). Faite avec ❤️ pour la communauté.</p>
    </div>

</footer>